
.div-1 {
    background-color: aquamarine;
}

.div-1 .div1p1 {
    color: aliceblue;
}

.div-1 p {
    color: blue;
}

.div-1 ul {
    color:chocolate
}

.test1.test2 {
background-color: black;
color: yellow;
font-size: 20px;
}

.p1, .p2, .p3 {
    background-color: cornflowerblue;
    color: aquamarine;
}